@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Example Plugin</title>
	<link rel="stylesheet" href="/Static/css/tailwindcss-plugin-for-epi.css" />
</head>
<body class="font-sans text-copy bg-admin">
	<div class="m-4">
		<h1 class="text-xl mb-3 border-b border-line pb-1">Example Tailwind CSS Plugin</h1>
		<h2 class="text-lg mb-3">Just a sample view</h2>
		<p class="mb-3 text-sm font-proxima">This is just a sample paragraph with <a href="#link1" class="text-primary-3 underline">a really cool hyperlink</a> and I think the spacing and sizing is somewhat correct.</p>
		<ul class="list-disc pl-4 text-sm font-proxima mb-3">
			<li>It gives you a lot of control.</li>
			<li>You can use your existing CSS skills.</li>
		</ul>
		@* TODO: Add forms and stuff *@
	</div>
</body>
</html>

